
<div class="notFound">	
	<div class="center">
		<h1><a class="card" href="/">Take Me Home!</a></h1>
	</div>
</div>

<!--
 <video class="centerImage" playsinline autoplay muted loop poster="{{img}}" id="bgvid">
    <source src="/images/b.mp4" type="video/mp4">
</video>
<h1><a class="card center" href="/">Take Me Home!</a></h1>
-->